*/**/*.pas filter=crtext
*/**/*.unit filter=crtext
*/**/build* filter=crtext
build
pas filter=crtext
*/**/*.rez filter=crtext
*/**/*.asm filter=crtext
*/**/*.macros filter=crtext
*/**/readme* filter=crtext
*/**/MAKEFILE* filter=crtext
